.github,.page{text-align:center}
*{box-sizing:border-box;margin:0;padding:0}
html{font:100 5vh/1.618 'Josefin Sans',arial,sans-serif}
@media (max-aspect-ratio:2/3){html{font-size:7.5vw}
}
body{background:#97c58f;background:linear-gradient(-12deg,hsla(346,70%,60%,.8),hsla(110,60%,70%,.8))no-repeat,url(../img/trees.jpg)center bottom no-repeat fixed;background-size:cover;color:#fff6f4}
h1{font:700 3em/1 'Josefin Slab',arial,sans-serif}
a{color:inherit;text-decoration:none}
.page{-webkit-align-items:center;-ms-flex-align:center;align-items:center;display:-webkit-flex;display:-ms-flexbox;display:flex;height:100vh;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;position:relative;width:100vw;z-index:1}
.logo{height:6em;width:6em}
.logo-lt{fill:#fff}
.logo-md{fill:#ccc}
.logo-dk{fill:#333}
.github{background-color:#333;color:#f2f2f2;font-size:.618rem;height:1.618em;position:fixed;right:-5em;text-transform:lowercase;top:-.809em;-webkit-transform:translate(-1.618em,1.618em)rotate(45deg);transform:translate(-1.618em,1.618em)rotate(45deg);width:10em;z-index:2}