.github,.page{text-align:center}
*{box-sizing:border-box;margin:0;padding:0}
html{font:300 10vmin/1.618 'Open Sans Condensed',arial,sans-serif}
@media (min-width:600px),(orientation:landscape){html{font-size:6.18vmin}
}
body{background-color:#97c58f;background-image:linear-gradient(-12deg,hsla(0,70%,60%,.8),hsla(120,60%,70%,.8)),url(../images/trees.jpg);background-position:center bottom,center bottom;background-size:cover,cover;color:#fff6f4}
h1{font:700 1.618em/1 'Open Sans Condensed',arial,sans-serif}
a{color:inherit;text-decoration:none}
.page{-webkit-align-items:center;-ms-flex-align:center;align-items:center;display:-webkit-flex;display:-ms-flexbox;display:flex;height:100vh;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;position:relative;width:100vw;z-index:1}
.logo{height:6em;margin-bottom:.618em;width:6em}
.logo-lt{fill:#fff}
.logo-md{fill:#ccc}
.logo-dk{fill:#333}
.github{background-color:#333;color:#f2f2f2;font-size:.618rem;height:1.618em;position:fixed;right:-5em;text-transform:lowercase;top:-.809em;-webkit-transform:translate(-1.618em,1.618em)rotate(45deg);transform:translate(-1.618em,1.618em)rotate(45deg);width:10em;z-index:2}